.handContainer {
  display: grid;
  height: 100%;
  grid-template-columns: 25% 50% 25%;
}

.left {
  background: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle {
  background: lightgreen;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.right {
  background: lightcoral;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ICON CSS */
.tokenContainer {
  display: flex;
}

.fireIcon {
  border: 4px solid red;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.grassIcon {
  border: 4px solid green;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.waterIcon {
  border: 4px solid blue;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.groundIcon {
  border: 4px solid black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.normalIcon {
  border: 4px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.dragonIcon {
  border: 4px solid gold;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
